**PYSPARK**

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 60.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=19f3b560a2e4285707855adb9173ad8c5306584a6faaf0abead805ad1fa976d8
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

## RDD

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()
df=spark.sparkContext.parallelize([(12,20,35,'abc'),(41,52,64,'def'),(70,85,90,'ghi')]).toDF(['col1','col2','col3','col4'])
df.show()

+----+----+----+----+
|col1|col2|col3|col4|
+----+----+----+----+
|  12|  20|  35| abc|
|  41|  52|  64| def|
|  70|  85|  90| ghi|
+----+----+----+----+

In [ ]:
#using createDataFrame() function
from pyspark.sql import SparkSession
student=spark.createDataFrame([('0369','ROSH','8.8','ECE'),('0477','BHARS','9.1','ECE'),
('0395','Kari','9','ECE'),('0982','Ayesh','8.4','CSE')],['Reg.No.','name','CGPA','Branch'])
student.show()

+-------+-----+----+------+
|Reg.No.| name|CGPA|Branch|
+-------+-----+----+------+
|   0369| ROSH| 8.8|   ECE|
|   0477|BHARS| 9.1|   ECE|
|   0395| Kari|   9|   ECE|
|   0982|Ayesh| 8.4|   CSE|
+-------+-----+----+------+

In [ ]:
num=spark.sparkContext.parallelize([5,5,4,3,9,2])
num.collect ()

[5, 5, 4, 3, 9, 2]

In [ ]:
#map
num.map(lambda a: a*2).collect()

[10, 10, 8, 6, 18, 4]

In [ ]:
num.map(lambda a: pow(a,2)).collect()

[25, 25, 16, 9, 81, 4]

In [ ]:
brands=spark.sparkContext.parallelize(["VIVO","ONE PLUS","REAL ME"])
brands.map(lambda a: "discount on "+a).collect()

['discount on VIVO', 'discount on ONE PLUS', 'discount on REAL ME']

In [ ]:
#count
words=spark.sparkContext.parallelize(["cat","rat","bats"])
counts=words.collect ()
print(counts)

['cat', 'rat', 'bats']

In [ ]:
#filter
num.filter(lambda x:x%2 ==0).collect()

['ONE PLUS', 'REAL ME']

In [ ]:
brands.filter(lambda x:"L" in x).collect()

['ONE PLUS', 'REAL ME']

In [ ]:
#union
num.collect()

[5, 5, 4, 3, 9, 2]

In [ ]:
num1=spark.sparkContext.parallelize([6,7,10])
num1.collect()

[6, 7, 10]

In [ ]:
num1.union(num).collect()

[6, 7, 10, 5, 5, 4, 3, 9, 2]

In [ ]:
type(num)

pyspark.rdd.RDD

# **SQL**

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [ ]:
#DataFrame
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df=spark.createDataFrame([
Row(a=1,b=2,c="string1",d=date(2001,1,18),e=datetime(2001,1,18,4,2,21)),
Row(a=2,b=3,c="string2",d=date(2004,5,7),e=datetime(2004,5,7,6,12,21)),
Row(a=3,b=4,c="string3",d=date(2012,6,22),e=datetime(2012,6,22,9,20,29)),
                         
])
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [ ]:
#DataFrame with explicit Schema
df=spark.createDataFrame([
(1,2,"ROSH",date(2001,1,18),datetime(2001,1,18,4,2,21)), 
(2,3,"SAI",date(2001,1,18),datetime(2004,5,7,6,12,21)),                     
(3,4,"NAKSH",date(2001,1,18),datetime(2012,6,22,9,20,29))                     
],schema='a bigint,b bigint , c string,d date, e timestamp')

df.show()

+---+---+-----+----------+-------------------+
|  a|  b|    c|         d|                  e|
+---+---+-----+----------+-------------------+
|  1|  2| ROSH|2001-01-18|2001-01-18 04:02:21|
|  2|  3|  SAI|2001-01-18|2004-05-07 06:12:21|
|  3|  4|NAKSH|2001-01-18|2012-06-22 09:20:29|
+---+---+-----+----------+-------------------+

In [ ]:
#DATAFRAME USING PANDAS
pandasdf=pd.DataFrame({
    'a':[1,2,3],
    'b':['a','b','c'],
    'c':[date(2001,1,18),date(2012,6,12),date(2021,8,18)]
})
df=spark.createDataFrame(pandasdf)
df.show()
df.printSchema()

+---+---+----------+
|  a|  b|         c|
+---+---+----------+
|  1|  a|2001-01-18|
|  2|  b|2012-06-12|
|  3|  c|2021-08-18|
+---+---+----------+

root
 |-- a: long (nullable = true)
 |-- b: string (nullable = true)
 |-- c: date (nullable = true)

In [ ]:
#DATAFRAME USING RDD
rdd=spark.sparkContext.parallelize ([
       (1,'hie','greet'),(2,'please','request'),(3,'lol','happy')                                    
])
newdf=spark.createDataFrame(rdd,schema=['a','b','c'])
newdf

DataFrame[a: bigint, b: string, c: string]

In [ ]:
newdf.show()
newdf.printSchema()

+---+------+-------+
|  a|     b|      c|
+---+------+-------+
|  1|   hie|  greet|
|  2|please|request|
|  3|   lol|  happy|
+---+------+-------+

root
 |-- a: long (nullable = true)
 |-- b: string (nullable = true)
 |-- c: string (nullable = true)

In [ ]:
#.......VIEWING DATA.........
df.show(1)
df.show(2)

#to view rows in vertical
df.show(2,vertical=True)

+---+---+----------+
|  a|  b|         c|
+---+---+----------+
|  1|  a|2001-01-18|
+---+---+----------+
only showing top 1 row

+---+---+----------+
|  a|  b|         c|
+---+---+----------+
|  1|  a|2001-01-18|
|  2|  b|2012-06-12|
+---+---+----------+
only showing top 2 rows

-RECORD 0---------
 a   | 1
 b   | a
 c   | 2001-01-18
-RECORD 1---------
 a   | 2
 b   | b
 c   | 2012-06-12
only showing top 2 rows

In [ ]:
#to print schema,columns
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: string (nullable = true)
 |-- c: date (nullable = true)

In [ ]:
df.columns

['a', 'b', 'c']

In [ ]:
#SUMMARY of DATAFRAME
df.select("a","b").describe().show()

+-------+---+----+
|summary|  a|   b|
+-------+---+----+
|  count|  3|   3|
|   mean|2.0|null|
| stddev|1.0|null|
|    min|  1|   a|
|    max|  3|   c|
+-------+---+----+

In [ ]:
#Dataframe.collect
df.collect()

[Row(a=1, b='a', c=datetime.date(2001, 1, 18)),
 Row(a=2, b='b', c=datetime.date(2012, 6, 12)),
 Row(a=3, b='c', c=datetime.date(2021, 8, 18))]

In [ ]:
#To avoid OutofMemory exception
df.take(2)
df.tail(2)

[Row(a=2, b='b', c=datetime.date(2012, 6, 12)),
 Row(a=3, b='c', c=datetime.date(2021, 8, 18))]

In [ ]:
#pyspark df to pandas df
df.toPandas()

   a  b           c
0  1  a  2001-01-18
1  2  b  2012-06-12
2  3  c  2021-08-18

In [ ]:
#reading uploaded files
import pandas as pd
pd.read_csv('/content/sample_data/california_housing_test.csv',"r")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

      longitude,"latitude","housing_median_age","total_  ...  ooms","population","households","median_income","median_house_value"
0     -122.050000,37.370000,27.000000,3885.000000,66...  ...                                                NaN
1     -118.300000,34.260000,43.000000,1510.000000,31...  ...                                                NaN
2     -117.810000,33.780000,27.000000,3589.000000,50...  ...                                                NaN
3     -118.360000,33.820000,28.000000,67.000000,15.0...  ...                                                NaN
4     -119.670000,36.330000,19.000000,1241.000000,24...  ...                                                NaN
...                                                 ...  ...                                                ...
2995  -119.860000,34.420000,23.000000,1450.000000,64...  ...                                                NaN
2996  -118.140000,34.060000,27.000000,5257.000000,10...  ...                                                NaN
2997  -119.700000,36.300000,10.000000,956.000000,201...  ...                                                NaN
2998  -117.120000,34.100000,40.000000,96.000000,14.0...  ...                                                NaN
2999  -119.630000,34.420000,42.000000,1765.000000,26...  ...                                                NaN

[3000 rows x 3 columns]

In [ ]:
#selecting and accessing data
df.a

Column<'a'>

In [ ]:
#column-wise operation
from pyspark.sql import Column
from pyspark.sql.functions import upper

type(df.c)==type(upper(df.c))==type(df.c.isNull())

True

In [ ]:
df.select(df.c).show()

+----------+
|         c|
+----------+
|2001-01-18|
|2012-06-12|
|2021-08-18|
+----------+

In [ ]:
#adding column
df.withColumn("name",upper(df.b)).show()

+---+---+----------+----+
|  a|  b|         c|name|
+---+---+----------+----+
|  1|  a|2001-01-18|   A|
|  2|  b|2012-06-12|   B|
|  3|  c|2021-08-18|   C|
+---+---+----------+----+

In [ ]:
#to select a subset of rows
df.filter(df.a==2).show()

+---+---+----------+
|  a|  b|         c|
+---+---+----------+
|  2|  b|2012-06-12|
+---+---+----------+

In [ ]:
#APPLYING A FUNCTION (User defined and API )
#UDF
#adding one to a column
import pandas
from pyspark.sql.functions import pandas_udf

@pandas_udf('long')  
def pandas_plus_one(series: pd.Series) -> pd.Series:
  return series + 1

@pandas_udf('string')  
def pandas_concat(series: pd.Series) -> pd.Series:
  return series + " alpha"

df.select(pandas_plus_one(df.a)).show()
df.select(pandas_concat(df.b)).show()

+------------------+
|pandas_plus_one(a)|
+------------------+
|                 2|
|                 3|
|                 4|
+------------------+

+----------------+
|pandas_concat(b)|
+----------------+
|         a alpha|
|         b alpha|
|         c alpha|
+----------------+

In [ ]:
#Grouping data
df=spark.createDataFrame([
['red','toy',1,10],['blue','toy',2,20],['red','gift',3,30],
['blue','bag',4,40],['red','bag',5,50],['green','gift',6,60],
['pink','toy',7,70],['pink','bag',8,80],['red','box',9,90]],
schema=['colour','item','v1','v2']
)
df.show()

+------+----+---+---+
|colour|item| v1| v2|
+------+----+---+---+
|   red| toy|  1| 10|
|  blue| toy|  2| 20|
|   red|gift|  3| 30|
|  blue| bag|  4| 40|
|   red| bag|  5| 50|
| green|gift|  6| 60|
|  pink| toy|  7| 70|
|  pink| bag|  8| 80|
|   red| box|  9| 90|
+------+----+---+---+

In [ ]:
df.groupby('colour').avg().show()

+------+-------+-------+
|colour|avg(v1)|avg(v2)|
+------+-------+-------+
|   red|    4.5|   45.0|
|   bue|    4.0|   40.0|
|  blue|    2.0|   20.0|
| green|    6.0|   60.0|
|  pink|    7.5|   75.0|
+------+-------+-------+

In [ ]:
df.groupby('item').max().show()

+----+-------+-------+
|item|max(v1)|max(v2)|
+----+-------+-------+
| bag|      8|     80|
|gift|      6|     60|
| toy|      7|     70|
| box|      9|     90|
+----+-------+-------+

In [ ]:
def plus_mean(pandasdf):
  return pandasdf.assign(v1=pandasdf.v1 - pandasdf.v1.mean())
df.groupby('colour').applyInPandas(plus_mean,schema=df.schema).show()

+------+----+---+---+
|colour|item| v1| v2|
+------+----+---+---+
|  blue| toy| -1| 20|
|  blue| bag|  1| 40|
| green|gift|  0| 60|
|  pink| toy|  0| 70|
|  pink| bag|  0| 80|
|   red| toy| -3| 10|
|   red|gift| -1| 30|
|   red| bag|  0| 50|
|   red| box|  4| 90|
+------+----+---+---+

In [ ]:
#co-grouping and applying functions
sample=spark.createDataFrame(
    [(20000101,1,1.0),(20000101,2,2.0),(20000102,1,3.0),(20000102,2,4.0)],
    ('time','id','v1'))
sample2=spark.createDataFrame(
    [(20000101,1,'x'),(20000101,2,'y'),(20000101,3,'z')],
    ('time','id','v2'))
def join(l,r):
  return pd.merge_asof(l,r,on='time',by='id')
sample.groupby('id').cogroup(sample2.groupby('id')).applyInPandas (
    join,schema='time int,id int,v1 double,v2 string').show()

+--------+---+---+---+
|    time| id| v1| v2|
+--------+---+---+---+
|20000101|  1|1.0|  x|
|20000102|  1|3.0|  x|
|20000101|  2|2.0|  y|
|20000102|  2|4.0|  y|
+--------+---+---+---+

In [ ]:
#getting data in/out
#csv
df.write.csv('foo.csv',header=True)
spark.read.csv('foo.csv',header=True).show()

+------+----+---+---+
|colour|item| v1| v2|
+------+----+---+---+
|   red| bag|  5| 50|
| green|gift|  6| 60|
|  pink| toy|  7| 70|
|  pink| bag|  8| 80|
|   red| box|  9| 90|
|   red| toy|  1| 10|
|  blue| toy|  2| 20|
|   red|gift|  3| 30|
|  blue| bag|  4| 40|
+------+----+---+---+

In [ ]:
#parquet
df.write.parquet('bar.parquet')
spark.read.parquet('bar.parquet').show()

+------+----+---+---+
|colour|item| v1| v2|
+------+----+---+---+
|   red| bag|  5| 50|
| green|gift|  6| 60|
|  pink| toy|  7| 70|
|  pink| bag|  8| 80|
|   red| box|  9| 90|
|   red| toy|  1| 10|
|  blue| toy|  2| 20|
|   red|gift|  3| 30|
|  blue| bag|  4| 40|
+------+----+---+---+

In [ ]:
#orc
df.write.orc('zoo.orc')
spark.read.orc('zoo.orc').show()

+------+----+---+---+
|colour|item| v1| v2|
+------+----+---+---+
|   red| bag|  5| 50|
| green|gift|  6| 60|
|  pink| toy|  7| 70|
|  pink| bag|  8| 80|
|   red| box|  9| 90|
|   red| toy|  1| 10|
|  blue| toy|  2| 20|
|   red|gift|  3| 30|
|  blue| bag|  4| 40|
+------+----+---+---+